@charset "UTF-8";

h1{
    background-color: lightgray;
    width: 300px;
    height: 300px;
    
    border-radius: 5px;
    border-color: rgb(28, 31, 31);
    border-width: 10px;
    border-style: solid;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    
    /*
    padding-top
    padding-right
    padding-bottom
    padding-left
    */
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

    margin: auto; /* caixa no centro */

    outline-width: 10px;
    outline-style: dashed;
    outline-color: blue;
}