@charset "UTF-8";

/* todas as demais midias */

/* typical devices brackpoints */
/* 
pequenas telas: até 600px
celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: até 1200px
Grandes: telas acima de 1200px
*/

/*@media screen and (max-widht: 600px) {

}

@media screen and (min-widht: 600px) and (max-widht: 768px) {
    
}*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
        
    }
    #pc, #tv, #phone, #print{
        display: none;
    }
    #tablet{
        display: block;
    }
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    #tablet, #tv, #phone, #print{
        display: none;
    }
    #pc{
        display: block;
    }
}

@media screen and (min-width: 1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    #tablet, #pc, #phone, #print{
        display: none;
    }
    #tv{
        display: block;
    }
}

@media print{

}